
#lightbox {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s ease-in-out;
}

#content-box {
  height: 100%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
#content-box a
{
  color:white;
  float: right;
  font-family: Pacifico;
  font-size: 33px;
  text-decoration: none;
}
#content-box a:hover{
  font-size: 40px;
  text-decoration: underline;
 
}

#lightbox:target {
  height: 100%;
  width: 100%;
}
.use_cal{
  margin-top: -560px;
  border: 5px solid white;
  padding:0px 20px;
  border-radius: 100px;
  background-color: black;
 
}
.use_cal :hover{
   
  opacity: 0.5;
 }
.use_cal a
{
   color: white;
   font-size: 270%;
   font-family: Pacifico;
   text-decoration: none;
   
}

body{

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; 
  background-image: url(wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container
{
  background-color: #5c5b59;
  height: 60%;
  width: 30%;
  margin: auto;
  margin-top: 150px;
  border: 2px solid black;
  min-height: 300px;
  min-width: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
  
  
}
#display
{
  background-color:#858381;
  height: 80px;
  width: 100%;
  border: 8px solid #5c5b59;
  

}
.btn
{
  background-color: white;
  width: 22%;
  height: 50px;
  border: 1px solid black;
 
  font-weight: bolder;
  font-size: 1.7rem;
  border-radius: 100px;
  margin: 1px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.container > div:nth-of-type(18)
{
 
  width:48.9% ;
}
.btn:hover{
box-shadow: 0px 0px 0px 3px white;
background-color: #c9c8c7;
padding: 2px;
}
